/*flexbox used to create sticky footer*/
    html, body {
      height: 100%;
    }
    body {
	  display: flex;
      flex-direction: column;
      background-image: url("picassobackgroundfinal.jpg"); 
	  background-size:cover; 
	  font-family: 'Oxygen', sans-serif;
	  margin: 0 0 0 0;
	}   
   .content {
      flex: 1 0 auto;
    }
   .footer {
      flex-shrink: 0;
      font-size: 17px; 
      color: #FFFFE0; 
      margin-bottom: 15px; 
      margin-left: 15px;
	  margin-top: 15px;
    } 

	h1 {
      color: #FFFFE0; 
      margin: 35px 35px 35px 35px;
	  font-weight: bold;
	  font-size: 55px;
    }
	
	.navbar {
	  font-size:0;
	}
	.navbar a {
	  display: inline-block;
	  color: black;  
	  background-image: url("blue2.jpg");
	  text-align: center;
	  padding: 15px 15px 15px 15px;
	  text-decoration: none;
	  font-size: 30px;
	}
	.navbar a:hover {
	  background-image: url("yellow.jpg");
	  color: black;  
	  font-size: 30px;
	}
	.navbar a.active {  
	  background-image: url("grey.jpg"); 
	  color: black; 
	  font-size: 30px;
	}
	
			
	
	.dropdowndiv {
      position: relative;
      display: inline-block;
    }
    .dropdownbutton {
      display: inline-block;
      background-image: url("blue2.jpg");
      color: black;
      padding: 15px 15px 15px 15px;
      font-size: 30px;
      border: none;
      cursor: pointer;
    } 
	.fa fa-caret-down arrow {
	  color: black;
	}
	
	.fa fa-caret-down arrow:hover {
	  color: green;
	}
	
   .dropdown-content {
      display: none;
      position: absolute;
      background-image: url("blue2.jpg");
      width: 100%;
      max-height: 470px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      overflow-y: scroll;
    }
	
	.dropdown-content::-webkit-scrollbar {
    width: 20px;
    }
 
	.dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
    border-radius: 0px;	
	}
 
	.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.0);
	}
	
   .dropdown-content .dropdownlink {
      color: black;
      padding: 8px 8px 8px 8px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 20px;  
    }
	
   .dropdown-content .dropdownlink:hover {
       background-image: url("yellowdarker.jpg"); 
       font-size: 20px;
    }
   /*Show the dropdown menu on hover*/
   .dropdowndiv:hover .dropdown-content {
      display: block;
   }
   /*Keep chaning backround image of dropdown button when dropdown conent shown*/
   .dropdowndiv:hover .dropdownbutton {
      background-image: url("yellow.jpg");
    }   

	.text {
	  font-size: 25px;
	  color: #FFFFE0; 
	  margin: 15px 15px 0 15px;
	}
	
	.share {
      background-image: url("black.jpg");
	  display: inline-block;
	  margin: 15px 15px 0px 0px;
	  padding: 15px 15px 15px 15px;
	}
	
	i {  
	  display: inline-block;  
	}
	
	i:hover {
	  color: #FFFFE0; 
	}
	.sharelabel {
	  padding-right: 15px;
      font-size: 30px; 
      color: #FFFFE0; 
      text-align: center;
	}
	.facebook {
	  display: inline-block;
	  padding-right: 15px; 
      color: #708BC7;
	}
	
	.youtube {
      display: inline-block;
      padding-right: 15px;
	}
	
	.mail {
	  display: inline-block;
      color: #BFEE90;
	}
	iframe {
	  display: block; 
	  margin: 15px auto 0 auto;
	}
    /*Removed modal box, i.e. background and border*/
   .modal-content {
      background-image: transparent;
      margin: 15% auto; /*15% from top and centered*/
      padding: 0px 0px 0px 0px;
      width: 560px; 
      height: 315px; /*Matches width and height of iframe but made transparent*/
    } 
   .close {
      color: #aaa;
      float: right;
      font-size: 30px;
      color: #FFFFE0;
    }
    .close:hover, .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
	
	.idol {
      display: inline-block;
	  font-size: 25px;
	  font-weight: bold;
	  background-image: url("green.jpg");
	  padding: 8px 15px 8px 15px;
	  margin: 15px 15px 0px 0px;
	  color: black;
	  text-decoration:none;
	}
	
	.idol:hover {
	  text-decoration: underline;
	}
	

	
	/*For mobiles*/
	
	
	
	@media only screen and (max-device-width: 600px) {
			
	.footer {
      flex-shrink: 0;
      font-size: 30px; 
      color: #FFFFE0; 
      margin-bottom: 15px; 
      margin-left: 15px;
	  margin-top: 15px;
    } 

	h1 {
      margin: 35px 35px 35px 35px;
	  font-weight: bold;
	  font-size: 100px;
    }
	
	.navbar {
	  font-size:0;
	}
	.navbar a {
	  display: inline-block;
	  color: black;  
	  background-image: url("blue2.jpg");
	  text-align: center;
	  padding: 15px 15px 15px 15px;
	  text-decoration: none;
	  font-size: 80px;
	}
	.navbar a:hover {
	  background-image: url("yellow.jpg");
	  color: black;  
	  font-size: 80px;
	}
	.navbar a.active {  
	  background-image: url("grey.jpg"); 
	  color: black; 
	  font-size: 80px;
	}
	
			
	
	.dropdowndiv {
      position: relative;
      display: inline-block;
    }
    .dropdownbutton {
      display: inline-block;
      background-image: url("blue2.jpg");
      color: black;
      padding: 15px 15px 15px 15px;
      font-size: 80px;
      border: none;
      cursor: pointer;
    } 
	.fa fa-caret-down arrow {
	  color: black;
	}
	
	.fa fa-caret-down arrow:hover {
	  color: green;
	}
	
   .dropdown-content {
      display: none;
      position: absolute;
      background-image: url("blue.jpg");
      width: 100%;
      max-height: 600px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      overflow-y: scroll;
    }
	::-webkit-scrollbar {
    width: 80px;
    }
 
	::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
    border-radius: 0px;	
	}
 
	::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,2.0);
	}
	
   .dropdown-content .dropdownlink {
      color: black;
      padding: 8px 8px 8px 8px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 70px;  
    }
	
   .dropdown-content .dropdownlink:hover {
       background-image: url("yellowdarker.jpg"); 
       font-size: 70px;
    }
   /*Show the dropdown menu on hover*/
   .dropdowndiv:hover .dropdown-content {
      display: block;
   }
   /*Keep chaning backround image of dropdown button when dropdown conent shown*/
   .dropdowndiv:hover .dropdownbutton {
      background-image: url("yellow.jpg");
    }   

	.text {
	  font-size: 60px;
	  color: #FFFFE0; 
	  margin: 15px 15px 0 15px;
	}
	
	.share {
      background-image: url("black.jpg");
	  display: inline-block;
	  margin: 15px 15px 0px 0px;
	  padding: 15px 15px 15px 15px;
	}
	
	i {  
	  display: inline-block;  
	}
	
	i:hover {
	  color: #FFFFE0; 
	}
	.sharelabel {
	  padding-right: 50px;
      font-size: 80px; 
      color: #FFFFE0; 
      text-align: center;
	}
	.facebook {
	  display: inline-block;
	  padding-right: 50px; 
      color: #708BC7;
	  font-size:60px;
	}
	
	.youtube {
      display: inline-block;
      padding-right: 50px;
	  font-size:60px;
	}
	
	.mail {
	  display: inline-block;
      color: #BFEE90;
	  font-size:60px
	}
	iframe {
	  display: block; 
	  margin: 15px auto 0 auto;
	}
    /*Removed modal box, i.e. background and border*/
   .modal-content {
      background-image: transparent;
      margin: 50% auto; /*15% from top and centered*/
      padding: 0px 0px 0px 0px;
      width: 560px; 
      height: 315px; /*Matches width and height of iframe but made transparent*/
    } 
   .close {
      color: #aaa;
      float: right;
      font-size: 80px;
      color: #FFFFE0;
    }
    .close:hover, .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
			
	.idol {
      display: inline-block;
	  font-size: 60px;
	  background-image: url("green.jpg");
	  padding: 8px 15px 8px 15px;
	  margin: 15px 15px 0px 0px;
	  color: black;
	  text-decoration:none;
	}
	
	.idol:hover {
	  text-decoration: underline;
	}
			
			
			}
	
	
	
	